{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<header>
  {% include 'partials/_navbar.html' %}
  <!--  header-bg  -->
  <div class="header-bg">
    <div class="container">
      <div class="header-text">
        <h1>Laugh Harder Than Yesterday</h1>
        <p>Discover a new way to rejuvenate yourself.</p>
        <a href="#">READ MORE</a>
      </div>
    </div>
  </div>
  <!--  /header-bg  -->
</header>
<section class="services-out">
  <!--  serves box  -->
  <div class="container">
    <div
      class="col-xs-12 col-sm-4 col-md-4 services-box services-bg1 text-center"
    >
      <div class="services-text">
        <h2>GYM FITNESS</h2>
        <p>Focusing inward during yoga helps</p>
        <a href="#">Book now</a>
        <div class="no">01</div>
      </div>
    </div>
    <div
      class="
        col-xs-12 col-sm-4 col-md-4
        services-box services-bg2
        active
        text-center
      "
    >
      <div class="services-text">
        <h2>YOGA FITNESS</h2>
        <p>Focusing inward during yoga helps</p>
        <a href="#">Book now</a>
        <div class="no">02</div>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-4 col-md-4 services-box services-bg3 text-center"
    >
      <div class="services-text">
        <h2>DANCE FITNESS</h2>
        <p>Focusing inward during yoga helps</p>
        <a href="#">Book now</a>
        <div class="no">03</div>
      </div>
    </div>
  </div>
  <!--  /serves box  -->
</section>
<section class="welcome">
  <!--  welcome  -->
  <div class="container">
    {% if intros %}
      {% for intro in intros %}
        <div class="title">
          <h2>{{ intro.title }}</h2>
          <p>{{ intro.description }}</p>
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        {% if advantages_left %}
          {% for advantage in advantages_left %}
            <div class="row welcom-text">
              <div class="col-sm-9 col-md-9 text-right">
                <div class="wtext">
                  <h6>{{ advantage.title }}</h6>
                  {{ advantage.description }}
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="wicon">
                  <i class="{{ advantage.icon }}" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>

      {% if intros %}
        {% for intro in intros %}
          <div class="col-xs-12 col-sm-4 col-md-4 text-center">
            <img src="{{ intro.image.url }}" alt="13" />
          </div>
        {% endfor %}
      {% endif %}
      
      <div class="col-xs-12 col-sm-4 col-md-4">
        {% if advantages_right %}
          {% for advantage in advantages_right %}
            <div class="row welcom-text">
              <div class="col-sm-3 col-md-3">
                <div class="wicon">
                  <i class="{{ advantage.icon }}" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-sm-9 col-md-9 text-right">
                <div class="wtext">
                  <h6>{{ advantage.title }}</h6>
                  {{ advantage.description }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
       
      </div>
    </div>
  </div>
  <!--  /welcome  -->
</section>
<section class="schedule-bg">
  <!--  /schedule  -->
  <div class="container">
    <div class="title">
      <h2>Schedule</h2>
    </div>
    <div class="owl-carousel owl-theme schedule-carousel">
      {% if schedules_one %}
        <div class="item">
          {% for schedule in schedules_one %}
            <div class="col-sm-6 col-md-6">
              <div class="schedule-box">
                <div class="col-md-6">
                  <img src="{{ schedule.cover_image.url }}" alt="13" />
                </div>
                <div class="col-md-6">
                  <a href="#">{{ schedule.title }}</a>
                  <p>Trainer : {{ schedule.trainer }}</p>
                  <p class="date">{{ schedule.date }} <br />{{ schedule.starting_time }} - {{ schedule.ending_time }}</p>
                  <a href="#" class="join">Join now!</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% endif %}
        
      {% if schedules_two %}
        <div class="item">
          {% for schedule in schedules_two %}
            <div class="col-sm-6 col-md-6">
              <div class="schedule-box">
                <div class="col-md-6">
                  <img src="{{ schedule.cover_image.url }}" alt="13" />
                </div>
                <div class="col-md-6">
                  <a href="#">{{ schedule.title }}</a>
                  <p>Trainer : {{ schedule.trainer }}</p>
                  <p class="date">{{ schedule.date }} <br />{{ schedule.starting_time }} - {{ schedule.ending_time }}</p>
                  <a href="#" class="join">Join now!</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
      {% if schedules_three %}
        <div class="item">
          {% for schedule in schedules_three %}
            <div class="col-sm-6 col-md-6">
              <div class="schedule-box">
                <div class="col-md-6">
                  <img src="{{ schedule.cover_image.url }}" alt="13" />
                </div>
                <div class="col-md-6">
                  <a href="#">{{ schedule.title }}</a>
                  <p>Trainer : {{ schedule.trainer }}</p>
                  <p class="date">{{ schedule.date }} <br />{{ schedule.starting_time }} - {{ schedule.ending_time }}</p>
                  <a href="#" class="join">Join now!</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
    </div>
  </div>
  <!--  /schedule  -->
</section>
<section class="trainer-bg">
  <!--  trainer  -->
  <div class="container">
    <div class="title">
      <h2>Trainer</h2>
    </div>
    <div class="row">
      {% if trainers %} 
        {% for trainer in trainers %}
        <div class="col-sm-3 col-md-3">
          <!--  trainer-box  -->
          <div class="trainer-box">
            <div class="trainer-img">
              <img
                src="{{ trainer.profile_image.url }}"
                alt="trainer-img1"
              />
              <a href="#" class="hover">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </div>
            <div class="trainer-text">
              <h6>{{ trainer.name }}</h6>
              {{ trainer.specified }}
              <div class="shire-icon">
                <ul>
                  <li>
                    <a href="{{ trainer.fb_link }}" target="_blank"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="{{ trainer.twitter_link }}" target="_blank"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="{{ trainer.instagram_link }}" target="_blank"
                      ><i class="fa fa-instagram" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--  trainer-box end  -->
        </div>
        {% endfor %}
      {% else %}
      <h1>No Trainer to show</h1>
      {% endif %}
    </div>
  </div>
  <!--  /trainer  -->
</section>
<section class="counter section-padding">
  <!-- START COUNTER SECTION -->
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 text-center">
        <div class="c-icon">
          <i class="fa fa-smile-o" aria-hidden="true"></i>
        </div>
        <h2 class="timer" data-to="2456" data-speed="10000">$nbsp;</h2>
        <span>Total Courses</span>
      </div>
      <div class="col-sm-3 col-md-3 text-center">
        <div class="c-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
        <h2 class="timer" data-to="4958" data-speed="10000">$nbsp;</h2>
        <span>Total Members</span>
      </div>
      <div class="col-sm-3 col-md-3 text-center">
        <div class="c-icon">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>
        <h2 class="timer" data-to="556" data-speed="10000">$nbsp;</h2>
        <span>Free Tutorials</span>
      </div>
      <div class="col-sm-3 col-md-3 text-center">
        <div class="c-icon">
          <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <h2 class="timer" data-to="389" data-speed="10000">$nbsp;</h2>
        <span>Best Teachers</span>
      </div>
    </div>
  </div>
</section>
<section class="video-bg">
  <div class="container">
    <div class="title">
      <h2>Top Video</h2>
    </div>
    <div class="video-wrraper">
      <!-- .video-wrraper -->
      <div class="col-xs-12 col-sm-8 col-md-8 pad">
        <!-- tabs right -->
        <div class="tabbable tabs-right">
          <div class="tab-content">
            <div class="tab-pane" id="1">
              <iframe
                height="410"
                src="https://www.youtube.com/embed/lGNOF8DVIPQ"
                allowfullscreen
              ></iframe>
            </div>
            <div class="tab-pane active" id="2">
              <iframe
                width="560"
                height="410"
                src="https://www.youtube.com/embed/lGNOF8DVIPQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="tab-pane" id="3">
              <!-- <iframe height="410" src="../../www.youtube.com/embed/YdB1HMCldJY.html" allowfullscreen></iframe> -->
              <iframe
                width="560"
                height="410"
                src="https://www.youtube.com/embed/lGNOF8DVIPQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="tab-pane" id="4">
              <!-- <iframe height="410" src="../../www.youtube.com/embed/ELJDd6UTGAQ.html" allowfullscreen></iframe> -->
              <iframe
                width="560"
                height="410"
                src="https://www.youtube.com/embed/lGNOF8DVIPQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="tab-pane" id="5">
              <!-- <iframe height="410" src="../../www.youtube.com/embed/YdB1HMCldJY.html" allowfullscreen></iframe> -->
              <iframe
                width="560"
                height="410"
                src="https://www.youtube.com/embed/lGNOF8DVIPQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="tab-pane" id="6">
              <!-- <iframe height="410" src="../../www.youtube.com/embed/ELJDd6UTGAQ.html" allowfullscreen></iframe> -->
              <iframe
                width="560"
                height="410"
                src="https://www.youtube.com/embed/lGNOF8DVIPQ"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <!-- /tabs -->
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 pad">
        <!-- tabs right -->
        <div class="tabbable tabs-right">
          <div class="video-tab-title">
            <div class="col-xs-4 col-sm-4 col-md-4">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              Winners and losers we didn’t see coming
            </div>
          </div>
          <ul id="style-default" class="scrollbar">
            <li>
              <a href="#1" data-toggle="tab">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img
                    src="{% static 'images/small-v1.jpg' %}"
                    alt="inimgsmall"
                  />
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  Dance Fitness Party? Yes, please! <br /><span>10:50</span>
                </div>
              </a>
            </li>
            <li class="active">
              <a href="#2" data-toggle="tab">
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <img
                    src="{% static 'images/small-v2.jpg' %}"
                    alt="inimgsmall"
                  />
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  Fitness Routine 2018 | Get Bikini Body Ready! <br /><span
                    >10:50</span
                  >
                </div>
              </a>
            </li>
            <li>
              <a href="#3" data-toggle="tab">
                <div class="col-xs-4 col-xs-4 col-md-4">
                  <img
                    src="{% static 'images/small-v3.jpg' %}"
                    alt="inimgsmall"
                  />
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  Morning Yoga Energizing Morning Sequence <br /><span
                    >10:50</span
                  >
                </div>
              </a>
            </li>
            <li>
              <a href="#4" data-toggle="tab">
                <div class="col-xs-4 col-xs-4 col-md-4">
                  <img
                    src="{% static 'images/small-v3.jpg' %}"
                    alt="inimgsmall"
                  />
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  5 Gym Machines To Avoid for Thighs, Back and Abs <br /><span
                    >10:50</span
                  >
                </div>
              </a>
            </li>
            <li>
              <a href="#5" data-toggle="tab">
                <div class="col-xs-4 col-xs-4 col-md-4">
                  <img
                    src="{% static 'images/small-v5.jpg' %}"
                    alt="inimgsmall"
                  />
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  Winners and losers we didn’t see coming <br /><span
                    >10:50</span
                  >
                </div>
              </a>
            </li>
            <li>
              <a href="#6" data-toggle="tab">
                <div class="col-xs-4 col-xs-4 col-md-4">
                  <img
                    src="{% static 'images/small-v1.jpg' %}"
                    alt="inimgsmall"
                  />
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  My Fat Burning Routine (Treadmill Interval Running)
                  <br /><span>10:50</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <!-- /tabs -->
      </div>
      <!-- /.video-wrraper -->
    </div>
  </div>
</section>
<section class="price-bg">
  <!--  price  -->
  <div class="container">
    <div class="title">
      <h2>Our Price</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <!--  price-box  -->
        <div class="price-box">
          <div class="price-img">
            <img src="{% static 'images/price-img1.jpg' %}" alt="price-img1" />
          </div>
          <div class="price-text">
            <div class="price-no">
              <span><sub>$</sub>50</span>/1 Month
            </div>
            <ul>
              <li>Gym</li>
              <li>Dance</li>
              <li>Yoga</li>
              <li><span>Swimming Pool</span></li>
              <li><span>Trainer</span></li>
              <li><span>Massage</span></li>
            </ul>
            <a href="#">book now</a>
          </div>
        </div>
        <!--  /price-box  -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <!--  price-box  -->
        <div class="price-box">
          <div class="price-img">
            <img src="{% static 'images/price-img2.jpg' %}" alt="price-img2" />
          </div>
          <div class="price-text">
            <div class="price-no">
              <span><sub>$</sub>120</span>/3 Month
            </div>
            <ul>
              <li>Gym</li>
              <li>Dance</li>
              <li>Yoga</li>
              <li><span>Swimming Pool</span></li>
              <li><span>Trainer</span></li>
              <li><span>Massage</span></li>
            </ul>
            <a href="#">book now</a>
          </div>
        </div>
        <!--  /price-box  -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <!--  price-box  -->
        <div class="price-box">
          <div class="price-img">
            <img src="{% static 'images/price-img3.jpg' %}" alt="price-img3" />
          </div>
          <div class="price-text">
            <div class="price-no">
              <span><sub>$</sub>250</span>/6 Month
            </div>
            <ul>
              <li>Gym</li>
              <li>Dance</li>
              <li>Yoga</li>
              <li><span>Swimming Pool</span></li>
              <li><span>Trainer</span></li>
              <li><span>Massage</span></li>
            </ul>
            <a href="#">book now</a>
          </div>
        </div>
        <!--  /price-box  -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <!--  price-box  -->
        <div class="price-box">
          <div class="price-img">
            <img src="{% static 'images/price-img4.jpg' %}" alt="price-img4" />
          </div>
          <div class="price-text">
            <div class="price-no">
              <span><sub>$</sub>568</span>/1 Year
            </div>
            <ul>
              <li>Gym</li>
              <li>Dance</li>
              <li>Yoga</li>
              <li><span>Swimming Pool</span></li>
              <li><span>Trainer</span></li>
              <li><span>Massage</span></li>
            </ul>
            <a href="#">book now</a>
          </div>
        </div>
        <!--  /price-box  -->
      </div>
    </div>
  </div>
  <!--  /price  -->
</section>
<section class="news-bg">
  <!--  news  -->
  <div class="container">
    <div class="title">
      <h2>Latest Blog</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 pad">
        <div class="news-lg-img">
          <img src="{% static 'images/blog-lg.jpg' %}" alt="blog-lg" />
          <div class="news-lg-img-text">
            <a href="#"><h4>She looks so graceful</h4></a>
            <div class="news-date">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2018
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <!--  news-sbox  -->
        <div class="news-sbox">
          <div class="col-sm-5 col-md-5">
            <img src="{% static 'images/blog-s-img1.jpg' %}" alt="blog-lg" />
          </div>
          <div class="col-sm-7 col-md-7">
            <a href="#"
              ><h4>How to Take Your HIIT Workout to The Next Level</h4></a
            >
            <div class="news-date">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2018
            </div>
            <p>
              So you’ve got on board the HIIT train. Maybe it was because you
              saw t
            </p>
          </div>
        </div>
        <!--  /news-sbox  -->
        <!--  news-sbox  -->
        <div class="news-sbox">
          <div class="col-sm-5 col-md-5">
            <img src="{% static 'images/blog-s-img2.jpg' %}" alt="blog-lg" />
          </div>
          <div class="col-sm-7 col-md-7">
            <a href="#"
              ><h4>How to Take Your HIIT Workout to The Next Level</h4></a
            >
            <div class="news-date">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2018
            </div>
            <p>
              So you’ve got on board the HIIT train. Maybe it was because you
              saw t
            </p>
          </div>
        </div>
        <!--  /news-sbox  -->
        <!--  news-sbox  -->
        <div class="news-sbox">
          <div class="col-sm-5 col-md-5">
            <img src="{% static 'images/blog-s-img3.jpg' %}" alt="blog-lg" />
          </div>
          <div class="col-sm-7 col-md-7">
            <a href="#"
              ><h4>How to Take Your HIIT Workout to The Next Level</h4></a
            >
            <div class="news-date">
              <i class="fa fa-clock-o" aria-hidden="true"></i> 20 Fer , 2018
            </div>
            <p>
              So you’ve got on board the HIIT train. Maybe it was because you
              saw t
            </p>
          </div>
        </div>
        <!--  /news-sbox  -->
      </div>
    </div>
  </div>
  <!--  news  -->
</section>
<section class="get-bg">
  <!-- get-bg -->
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>GET STARTED TODAY</h2>
        <p>
          New student special! $30 unlimited Gym for the first week anh 50% of
          our member!
        </p>
        <a href="#">book now</a>
      </div>
    </div>
  </div>
  <!-- /get-bg -->
</section>
{% endblock %}
