 <!-- top header  -->
<div class="top-header">
  <div class="container">
    <div class="col-md-6 col-sm-6">
      <!--  top-address -->
      <div class="top-address">
        <ul>
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i> 1231 W
            Baneshowr, Kathmandu
          </li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +9771234567890</li>
          <li>
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Book Now
          </li>
        </ul>
      </div>
      <!--  /top-address -->
    </div>
    <div class="col-md-6 col-sm-6">
      <!-- top-cart -->
      <div class="top-cart">
        <ul>
          <li>
            <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <!-- /top-cart -->
    </div>
  </div>
</div>
<!--  /top header  -->
